{% extends "base.html.twig" %}

    {% block title %}
        Mes Produits
    {% endblock %}

{% block content %}

    <div class="row">

        {% for produit in produits %}

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>



            </div>

        {% endfor %}

    </div>

{% endblock %}



